p {
    padding: 30px;
    font-size: 35px;
}

#about-content-container {
    background-color:rgba(182, 218, 230, 0.527);
    margin:10px;
    border-radius: 20px;
    /* border-style: ridge; */
}

#about-content {
    
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}