p {
    padding: 30px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.before-scroll {
    margin:10px;
    border-radius: 20px;
    border-style:solid;
    position: relative;
    right:70px;
    filter:blur(2px);
    transition:right 1s
}

.after-scroll {
    margin:10px;
    border-radius: 20px;
    border-style:solid;
    filter:none;
    right:0;
    transition:right 1s;
}

#about-content {
    
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}