#about-section {
    height: fit-content;
    margin: 0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}



#about-title{
    border-radius: 10px;
    
}


#about-content-container {
    padding-left:100px;
    padding-right:100px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: #2E3047; */
   
}

#about-content {
    max-width: 600px;
}

p {
    margin-bottom: 40px;
    background-color: #0A1828;
    padding: 90px;
    
}

#right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

#contact-button {
    font-size: 20px;
    background: none;
    color:#f0f8ff;
    border: 2px;
    border-style:inset;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    cursor: pointer;
    transition: 2s;
}

#contact-button:hover{
    transition: 2s;
    background-color: #14355a;
    border-color: #0A1828;
}