#main-body {
    padding:0px;
    margin:0px;
    height: 100%;
    width: 100%;
    background-color: #0A1828;
    color:#f0f8ff;
    z-index: 0;
    position: relative;
    
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    color:#f0f8ff;
    background-color: #0A1828;
    margin: 0px;
    padding: 0px;
    border-bottom: black;
    border-style: solid;
    border-width: 0;
}

#body-particles{
    height: 100%;
    width:100%;
    position: absolute;
}

.section-header {
    font-weight: 900;
    padding-left: 100px;
    padding-top: 35px;
}

.before-scroll {
    margin:10px;
    border-radius: 20px;
    position: relative;
    right:70px;
    filter:blur(2px);
    transition:right 1s
}

.after-scroll {
    margin:10px;
    border-radius: 20px;
    filter:none;
    right:0;
    transition:right 1s;
}

@media screen and (max-width:1366px) {
    .section-header{
        font-size: 3vw;
    }
    #name-container {
        font-size: 5vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p{
        font-size: 3vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 60vw;
        height: 30vw;
    }
}

@media screen and (max-width:1024px) {
    .section-header{
        font-size: 3vw;
    }
    #name-container {
        font-size: 5vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p{
        font-size: 3vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 60vw;
        height: 30vw;
    }
}

@media screen and (max-width:786px) {
    .section-header{
        font-size: 3vw;
    }
    #name-container {
        font-size: 5vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p{
        font-size: 3vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 60vw;
        height: 30vw;
    }
}

@media screen and (max-width:480px) {
    .section-header{
        font-size: 3vw;
    }
    #name-container {
        font-size: 5vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p{
        font-size: 3vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 60vw;
        height: 30vw;
    }
}