body {
    padding: 0px;
    margin:0px;
    height: 200px;
    background-color: #0A1828;
    color:#f0f8ff;
    z-index: 1;
    
}

.section-header {
    /* font-size: 30px; */
    font-size: x-large;
    font-weight: 900;
    padding-left: 5px;
    padding-top: 35px;
}

.before-scroll {
    margin:10px;
    border-radius: 20px;
    background-color: #0A1828;
    position: relative;
    right:70px;
    filter:blur(2px);
    transition:right 1s
}

.after-scroll {
    margin:10px;
    border-radius: 20px;
    background-color: #0A1828;
    filter:none;
    right:0;
    transition:right 1s;
}