#main-body {
    padding:0px;
    margin:0px;
    height: 100%;
    width: 100%;
    background-color: #0A1828;
    color:#f0f8ff;
    z-index: 0;
    position: relative;
    
}

html {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Montserrat";
    src:local("Montserrat"),
    url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype")
}
@font-face {
    font-family: "medium";
    src:local("Montserrat"),
    url('../fonts/Montserrat-VariableFont_wght.ttf') format("truetype")
}

body {
    color:#f0f8ff;
    background-color: #0A1828;
    margin: 0px;
    padding: 0px;
    border-bottom: black;
    border-style: solid;
    border-width: 0;
    font-family: "medium"
}
#body-particles{
    height: 100%;
    width:100%;
    position: absolute;
}

.section-header {
    font-weight: 900;
    
    text-decoration: underline;
}

.before-scroll {
    margin:10px;
    border-radius: 20px;
    position: relative;
    right:70px;
    filter:blur(2px);
    transition:right 1s
}

.after-scroll {
    margin:10px;
    border-radius: 20px;
    filter:none;
    right:0;
    transition:right 1s;
}

@media only screen and (min-width:1200px) {
    .section-header{
        font-size: 2vw;
    }
    .intro {
        font-size: 2vw;
    }

    #main-letter-container{
        font-size: 3vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p, .project-item-description{
        font-size: 25px;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 30vw;

    }

    .project-item-title{
        font-size:30px;
    }
    .project-right-side-content {
        margin-top: 60px;
    }
    #headshot {
        padding: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
}

@media only screen and (min-width:1025px) and (max-width:1200px){
    .section-header{
        font-size: 3vw;
    }
    #name-container {
        font-size: 2vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p, .project-item-description{
        font-size: 20px
    }
    p{
        width: 600px;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }
    .project-item-title{
        font-size:20px;
    }
    .project-image {
        width: 40vw;
        height: 30vh;
    }

    #headshot {
        padding: 10px;
        width: 250px;
        border-radius: 50%;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .section-header, .project-item-description{
        font-size: 4vw;
    }
    #name-container {
        font-size: 3vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p, .project-item-description{
        font-size: 2vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }
    .project-item{
        width: 70vw;
    }
    .project-image {
        width: 40vw;
    }
    #about-content-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        }
    #about-content {
        padding: 20px;
    }
    .project-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    #right-side-content {
        margin-bottom: 90px;
    }
    .project-right-side-content {
        margin-top: 60px;
    }
    .project-item-title {
        font-size: 3vw;
    }
     #headshot {
        padding: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .section-header, .project-item-description{
        font-size: 3vw;
    }
    #name-container {
        font-size: 4vw;
    }
    #nav-items-container {
        font-size:2vw;
    }
    p, .project-item-description{
        font-size: 2.5vw;
    }

    .project-item-description{
        width: 300px;
    }

    .project-item-title{
        font-size:15px;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }
    #headshot{
        height: 10vh;
        width: 10vw;
    }
    .project-image {
        width: 40vw;
    }
    #about-content-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        }
    
    #right-side-content {
        margin-bottom: 90px;
    }
    #about-content {
        padding: 10px;
    }

    .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    }
    .project-right-side-content {
        margin-top: 0px;
    }
    #headshot {
        padding: 10px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

@media only screen and (min-width:300px)and (max-width:480px) {
    .section-header {
        font-size: 4vw;
    }
    #name-container {
        font-size: 4vw;
    }
    #nav-items-container {
        font-size:3vw;
    }
    p, .project-item-description{
        font-size: 4vw;
    }
    #projects-container{
        width: 100vw;
        height: 1vh;
    }

    .project-image {
        width: 60vw;
    }

    #about-content-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    }

    #right-side-content {
        margin-bottom: 90px;
    }
    #about-content {
        padding: 10px;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .project-right-side-content {
        margin-top: 0px;
    }
    #headshot {
        padding: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    
}