#contact-container {
    /* font-size: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: 103%;
    border-radius: 15px 15px 0 0;
    z-index: 3;
    position: relative;
    bottom: -10px;
}

.contact-container-bottom {
    display: flex;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.contact-img {
    height: 30px;
    width:30px;
    padding-left:10px
}

#gmail {
    height: 25px;
}

