#nav-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    height: 600px;
}

.intro {
    color: #BFA181;
    font-weight: 100;
}

#nav-content-container{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    position:absolute;
    color: #f0f8ff;
}

.nav-container {
    padding: 40px;
    height: 100px;
    padding-bottom: 150px;
}

#nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items:space-between;
    flex-direction: column;
    height: 200px;
    font-weight: 900;
    position:fixed;
    right: 0;
    top:0;
    transition: 2s;
    z-index: 1;
    padding: 25px;
}


.nav-before {
    display: flex;
    justify-content: space-between;
    align-items:space-between;
    flex-direction: column;
    height: 200px;
    font-size: x-large;
    font-weight: 900;
    position:fixed;
    right: 0;
    top:0;
    transition: 2s;
    z-index: 1;
}

.nav-item.reorder{
    flex-direction:row;
}

.nav-item {
    padding: 10px;
    text-decoration-color: transparent;
    transition: 2s;
}

.nav-item:hover {
    transition: 1s;
    text-decoration: underline;
    cursor:pointer
}

.nav-item-hidden {
    transition: 1;
    display: none;
}

#particles {
    width: 100%;
    height: 100%;
}

#main-letter-container {
    display: flex;
}


.nav-letter {
    display:inline-block;
    transition:1s;
    font-weight: 530;
    cursor:default;
    color:#17a19d
    
}

.nav-letter:hover {
    filter: blur(1px);
    font-size:75px;
    transition: 1s;
    color:azure;
   
}


#name-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}



