#nav-main-container {
    display: flex;
    justify-content: space-between;
    background-color: lightcyan;
    height: 500px;
}

#nav-content-container{
    display: flex;
    justify-content: space-between;
    position:absolute;
    color: aliceblue;
    width: 100%;
}

.nav-container {
    padding: 40px;
}

#nav-items-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 10px;
}

#particles {
    width: 100%;
    height: 100%;
}

