#projects-container {
    display: flex;
    justify-content: center;
    height: 300px;
}

.memory-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
    height: 500px;
}