#projects-section {
    height: fit-content;
    margin: 0px;
    padding:0px;
}
#projects-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
#projects-title {
    border-radius: 10px;
}

.project-item-title {
    margin-bottom: 30px;
    font-size: large;
}

.project-buttons {
    display: flex;
    justify-content: center;
}

.button{
    margin: 20px;
    cursor: pointer;
    filter: grayscale(1);
}

.project-item {
    margin-top: 20px;
}
.project-image {
    /* width: 500px;
    height: 250px; */
    border-radius: 10px;
}