#projects-section {
    height: fit-content;
    margin: 0px;
    padding:0px;
}
#projects-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
#projects-title {
    border-radius: 10px;
}

.project-item-title {
    margin-bottom: 30px;
    font-size: large;
    background-color: #0A1828;
    text-decoration: underline;
}

.project-buttons {
    display: flex;
    justify-content: center;
}

.button{
    margin: 20px;
    cursor: pointer;
    height: 30px;
    font-size:medium;
    font-weight: bold;
    border-radius: 10px;
    border-style: groove;
}

.project-item {
    margin-top: 50px;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item-description {
    display: flex;
    margin-bottom: 20px;
    background-color: #0A1828;
    padding: 30px;
    text-align: center;
}
.project-image {
    border-radius: 10px;
}